<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic form</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
   $( document ).ready(function(){
            //Perform Ajax request.
            $("form").submit(function(){
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                var myKeyVals = {'csrfmiddlewaretoken': csrftoken , inp1 : $('#inp1').value, inp2 : $('#inp2').value, }
                $.ajax({
                    url: "{% url 'FormAjax' %}",
                    type: 'POST',
                    data: myKeyVals,
                    success: function(){
                      alert("Success");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                        $('#result').html(errorMsg);
                      }
                });
            });
        });

    </script>
</head>
<body>
<h1>Basic form with ajax</h1>
<form method="POST">
    {% csrf_token %}
    <label for="inp1">dummy1 :</label><input type="text" id="inp1" name="inp1"><br>
    <label for="inp2"> dummy2:</label> <input type="text" id="inp2" name="inp2"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>